.button {
    -fx-background-image: url(../images/close1.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}


.button_minimize{
    -fx-background-image: url(../images/minimize1.png);

    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}