.background{
    -fx-background-color: linear-gradient(to top, #ff7f50, #6a5acd);
}

.button {
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: linear-gradient(to top, #ff7f50, #6a5acd);

}


.close_button{
    -fx-background-image: url(../images/close1.png)
}