.root {
    -fx-background-image: url(../images/wall.jpg);

}
.jfx-text-field {
    -fx-prompt-text-fill: WHITE;
    -fx-text-fill: WHITE;
    -jfx-focus-color: WHITE;
    -jfx-unfocus-color: WHITE;
}

.side-bar{
    -fx-background-color: #ff7f50;
}
.siderbar-btn{
    -fx-background-color: transparent;
}
.siderbar-btn:hover{
    -fx-background-color:  #6a5acd;
}

.siderbar-btn-close{
    -fx-background-color: transparent;
}
.siderbar-btn-close:hover{
    -fx-background-color:  red;
}

.chart-plot-background{
    -fx-background-color:  #6a5acd;
}

NumberAxis{
    -fx-background-color: #36486b
}

CategoryAxis{
    -fx-background-color: #36486b
}


.date-piker , .date-piker *{
    -fx-background-color: #36486b;
    -fx-padding: 5px;
}

.date-piker .arrow{
    -fx-background-color: #ffffff;
}

.date-piker .date-cell {
    -fx-text-fill: white;
}

.date-piker .text-field{
    -fx-text-fill: white;
}

.month-year-pane .text {
    -fx-fill: white;
}

.date-piker .text-field {
    -fx-text-fill: white;
}

.month-year-pane .spinner {
    -fx-text-fill: white;
}

.date-picker-popup .left-arrow {
    -fx-background-color: white;
}

.date-picker-popup .right-arrow {
    -fx-background-color: white;
}
