
.table-view{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color:  #6a5acd;

}


.table-row-cell:selected .table-cell {
    -fx-text-fill: orange;
}
.table-view .column-header {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}


.table-row-cell:hover {


    -fx-background-color: #6a5acd;

}



.table-row-cell {
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-font-size: 15px;

}

